.menu-bar {
    display: flex;
    top: 0;
    z-index: 100;
    flex-direction: row;
    justify-content: space-between;
    height: 80px;
    padding-left: 0;
    background-color: #EBF4FF;
}

.menu-buttons {
    justify-content: center;
    margin: 12px;
    align-content: center;
    background-color: transparent;
    font-family: "Happy Monkey", system-ui;
    font-size: 20px;
    color: #7071E7;
    display: flex;
    align-items: center;
}

.menu-buttons:hover {
    color: rgba(123, 104, 238, 0.55);
}

.all-nav-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    margin-inline: 4px;
    margin: 30px;
    overflow-y: hidden;
}
